@import "./variables";

.profileForm{
    display:flex;
    flex-direction: column;
    align-items: center;
    textarea{
        margin-bottom: 20px;
    }
    button{
        width:180px;
        margin: 0 auto;
    } 
}

.uploadInput{
    margin-top: 10px;
}