.roomContainer{
    display:flex;
    justify-content: space-between;
}

.videoContainer{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    border:2px solid green;

}

.userContainer{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}


