.roomContainer{
    display:flex;
    justify-content: space-between;
}

.videoPlayerContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:40px;
    border:2px solid red;
    width:100%;
}

.userContainer{
    border:2px solid red;
}

.chatLog{
    border:2px solid green;
    width:25%;
    padding:0 10px;
    li{
        border:2px solid black;
        text-align: center;
    }
}


